<a href="/Start" class="btn btn-primary">Back</a>
<div ng-init="init()">
    <h1>{{player.Name}} Wins</h1>
    <div ng-show="player.Statistics.length > 0" class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <th>Result</th>
                <th>Vs</th>
                <th>Date</th>
            </thead>
            <tbody>
                <tr dir-paginate="statistic in player.Statistics | itemsPerPage: 8">
                    <td>{{statistic.Result}}</td>
                    <td>{{statistic.Vs}}</td>
                    <td>{{statistic.Date}}</td>
                </tr>
            </tbody>                                        
        </table>
        <dir-pagination-controls></dir-pagination-controls>
    <h4>Total wins {{player.Statistics.length}}</h4>      
    </div>          
</div>
